*{
    margin: 0;
    padding: 0;
    font-family:'Poppins', sans-serif;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}
/*----------navba----------*/

.navbar h1{
    color:whitesmoke;
    font-size: 50px;
}

.navbar span{
    color:orange;
    
}

#Header{
    display: flex;
    justify-content:space-between;
    background-color: red;
}

nav ul li{
    display: inline-block;
    margin: 10px 30px;
    padding-top: 7px;
}

nav ul li a{
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
    color: white;
}

nav ul li a:hover{
    text-decoration: underline;
    text-decoration-color:orange;
    text-decoration-thickness:2px;
    text-underline-offset:5px;
    transition-timing-function:ease-in;
}

.login:hover{
    border: 3px solid orange;
    padding: 3px;
    text-decoration: none;
    border-radius: 4px;
}

/*-----sub-header-------*/

#sub-header{
    display: flex;
    margin: 10px 22px;
}

.filter a{
    color: red;
    font-size: xx-large;
    margin: 10px 22px;
}

.filter a i:hover{
    text-decoration: underline;
    text-decoration-color:orange;
    text-decoration-thickness:2px;
    text-underline-offset:5px;
    transition-timing-function:ease-in-out;
}


.category h2{
    display: inline-block;
    margin: 10px 20px;
    color: red;
    border: 2px solid transparent;
    padding: 3px;
}

.category h2:hover{
    border: 2px solid orange;
    background-color: blanchedalmond;
    
}

.search{
    display: flex;
}

.search-bar{
    width: 400px;
    height: 40px;
    border: 2.5px solid orange;
    margin-top: 10px;
    border-radius: 4px;
}

.search-bar:hover{
    border-radius: 4px;
    border-color: red;
    transform:translateY(-3px);
}

.search-icon{
    font-size: 30px;
    height: auto;
    color: red;
    position: relative;
    right: 34px;
    margin-top: 10px;
    margin-right: 1px solid red;
    transform:translateY(5px);
}

.best{
    display: flex;
}

.best h3{
    margin: 10px 22px;
    color: red;
    font-size: 20px;
    font-family:'Lucida Sans';
}

.best h3 sup{
    font-size: small;
}

.best a{
    text-decoration: none;
}


.best a:hover{
    text-decoration: underline;
    text-decoration-color:orange;
    text-decoration-thickness:2px;
    text-underline-offset:5px;
    transition-timing-function:ease-in-out;

}

.heart a{
    font-size: xx-large;
    color: red;
}

.bag a{
    font-size: xx-large;
    color: red;
    margin: 10px 22px;
}

/*-------------hero-section---------------*/

.hero{
    height: 655px;
    background-size: cover;
}

/*------------best-sellers----------------*/
.best-sellers h1{
    text-align: center;
    margin-top: 30px;
    font-family: lucida;
    color: #282c3f;
    font-size: 30px;
}

.boxes{
    display: flex;
    justify-content: space-around;
    cursor: pointer;
    margin-top: 12px;
}

.popup img{
    height: 381px;
    width: 397px;
}

.popup:hover{
    transform:scale(1.1);
    z-index:5px;
}

/*---------------products-----------*/

.products h1{
    text-align: center;
    margin-top: 40px;
    font-family: lucida;
    color: #282c3f;
    font-size: 30px;
}

.boxes2{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin-top: 8px;
}

.showup img{
    height: 381px;
    width: 397px;
    margin: 10px;
    cursor: pointer;
}

.showup:hover{
    transform:scale(1.1);
    z-index:5px;
    transition:ease-in;
}

/*-------------Droop of the week-------------*/
#DROPOFTHEWEEK h1{
    text-align: center;
    margin-top: 40px;
    font-family: lucida;
    color: #282c3f;
    font-size: 30px;
}

.dotw{
    display: flex;
    justify-content: space-around;
    margin: 10px 30px;
    background-color: bisque;
    height: 500px;
}

.dropoftheweek img{
    height: 450px;
    padding-top: 45px;
    cursor: pointer;
}

.dropoftheweek img:hover{
    transform:scale(1.1);
    z-index:5px;

}

.friday{
    font-size:35px;
    font-weight: 800;
    text-align: center;
    margin-top: 150px;
    color: red;

}

.friday button{
    width: 160px;
    height: 45px;
    background-color: red;
    color:white;
    margin-top: 40px;
    border: orange 1px solid;
    border-radius: 7px;
    font-size: medium;
    cursor: pointer;
}

.friday button:hover{
    transform: translateY(-3px);

}

/*---------TAG----------*/

#TAG{
    height: 100px;
    background-color:rgb(225,0,0,0.8 );
}

.tag h1{
    color: whitesmoke;
    text-align: center;
    position: relative;
    top: 20px;
    font-size: 50px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    z-index: 20000;
}

.tag span{
    color: orange;
}

/*--------------BRANDS---------------*/


.brands{
    display: inline-block;
    justify-content: space-around;
    
}

.brand{
    width: 270px;
    cursor: pointer;
}

.sould{
    position: relative;
    top: 6px;
    left: 3px;
    width: 270px;
}

.madame{
    position: relative;
    bottom: 65px;
    left: 60px;
    right: 30px;
}

/*-----------------FOOTER---------------*/

#FOOTER{
    background: #000;
    color: #8a8a8a;
    font-size:60px 0 20px;
    height: 200px;

}

.row{
    display:flex;
    justify-content: space-around;
    position: relative;
    top: 50px;
    color: white;
}

.footer-col-1 h3{
    text-align: center;
    color: red;
}

.footer-col-1 img{
    width: 100px;
    position: relative;
    top: 5px;
    left: 13px;
}

.footer-col-2 h1{
    text-align: center;
    color:whitesmoke;
    font-size: 50px;
}

.footer-col-2 h1 span{
    color:orange;
}

.footer-col-3 h3{
    color: red;
}

.footer-col-4 a{
    color: red;
    font-size: x-large;
    margin: 3px;
}
ul{
    list-style: none;
    line-height: 1.5;
}

.feedback{
    background-color: #000;
    height: 100px;
}

.feedback h3{
    color: whitesmoke;
    text-align: center;
}

.feedback button{
    text-align: center;
    background-color: red;
    color: white;
    height: 40px;
    width: 150px;
    margin-left: 650px;
    margin-top: 10px;
    border: 1px solid orange;
    border-radius: 5px;
    cursor: pointer;
}

.feedback button:hover{
    transform: translateY(-1.5px);
}


hr{
    height: 0.5px;
}

#Copyright{
    border: none;
    background:#262626;
    height: 40px;
}

.copyright{
    text-align: center;
    color: white;
    position: relative;
    top: 15px;
}

/*-----------------media query-----------*/

@media only screen and (max-width:800px){

    nav ul{
        position: absolute;
        top: 70px;
        left: 0;
        background: #333;
        width: 100%;
    }

    nav ul li{
        display: block;
        margin-right: 50px;
        margin-top: 10px;
        margin-bottom: 10px;
    }

    nav ul li a{
        color: #fff;
    }
}

/*-----------------side-bar-----------*/

/* Navbar styling */
#sub-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #f8f9fa;
    padding: 10px 20px;
}

.category, .search, .best {
    display: flex;
    align-items: center;
}

.search-bar {
    padding: 5px;
    margin-right: 10px;
}

/* Sidebar styles */
#sidebar {
    position: fixed;
    top: 0;
    left: -300px; /* Hidden by default */
    width: 300px;
    height: 100%;
    color: white;
    padding: 20px;
    transition: left 0.3s ease-in-out;
    z-index: 1000;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.5);
    margin-top: 59px;
    background-color: red;
    border: none;
}

.sidebar-content h2 {
    margin: 20px 0;
    padding-bottom: 5px;
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
    color: white;
    align-items: center;
    display: flex;
}
.sidebar-contentbox{
    font-size: 25px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    margin-top: 15px;
    margin-bottom: 2px;
    border-bottom: 1px white solid;
}

.sidebar-contentbox:hover{
    color: rgb(255, 165, 0);
    
}

/* Show sidebar */
#sidebar.active {
    left: 0;
}

/*.sidebar-contentbox{
    border: 1px white solid;
}





